includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  level: 7

  paths:
    - app
    - bootstrap/app.php
    - config
    - database/factories
    - database/seeders
    - routes

  tmpDir: storage/framework/cache/phpstan
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    - message: '#Trait App\\Livewire\\Concerns\\HandlesOtpCooldown is used zero times and is not analysed#'
      paths:
        - app/Livewire/Concerns/HandlesOtpCooldown.php

    - '#Class .* uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::role#'
    - '#Call to an undefined method Livewire\\Component::(dispatch|dispatchBrowserEvent|js)#'
    - '#Call to an undefined method Laravel\\Nova\\Fields\\.*::(sortable|filterable|help|onlyOnIndex|onlyOnForms|hideFromIndex|rules)#'
    - '#Call to an undefined method Illuminate\\Contracts\\Container\\Container::makeWith#'

  excludePaths:
    - storage/*
    - vendor/*
    - bootstrap/cache/*
    - public/*
    - resources/*
    - node_modules/*
    - app/Nova/Resource.php
